<form [formGroup]="form">
    <h3>Csapat felvétel</h3>
    <mat-form-field class="max-width">
      <mat-label>Csapatnév</mat-label>
      <input matInput focus formControlName="name" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>Lejátszott meccsek</mat-label>
        <input matInput focus formControlName="matchesPlayed" required>
      </mat-form-field>
    <br>
    <mat-form-field class="max-width">
        <mat-label>Gólkülönbség</mat-label>
        <input matInput focus formControlName="goalDifference" required>
      </mat-form-field>
      <br>
      <mat-form-field class="max-width">
        <mat-label>Pontok</mat-label>
        <input matInput focus formControlName="points" required>
      </mat-form-field>
      <br>
    <div style="display: flex; justify-content: flex-end;">
      <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
      <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">FELVÉTEL</button>
    </div>
  </form>